div.wps-deals-cart-discount {
	text-align:right;
	margin-bottom: 20px;
}
.wps-deals-cart-discount input[type="button"] {
	font-weight:bold;
}
.wps-deals-cart-discount-row{
	background-color:#F5F5F5;
}
.wps-deals-cart-discount-row td{
	text-align:right;
}
.wps-deals-cart-remove-discount img{
	/*margin:0 0 4px 10px;*/
    vertical-align: middle;
}
.wps-deals-remove-discount{
	text-align:center !important;
}