/**WPSoical Logo**/
.wpsocial-logo{
	height: 40px; 
	width: 123px; 
	margin: 10px 10px 0 0; 
	float:left;
}
.wps-deals-settings-title{
	line-height: 40px !important; 
	display: block;
}
.wps-deals-content-section {
	margin-top: 20px;
}
/** WPSocial Settings Page CSS Start **/
.wps-deals-image-text{	
	width:85% !important;
}
.wps-deals-content-section input[type="submit"]{
	float:right;
}
.wpsdeals_page_wps-deals-settings .form-table th {
	width: 200px;
	font-weight: bold;
	text-align: left;
	padding-left: 0;
}
.wpsdeals_page_wps-deals-settings .about .form-table th {
	width: 20%;
	font-weight: bold;
	text-align: left;
	padding-left: 0;
}
.wpsdeals_page_wps-deals-settings .form-table td p {
	padding-top: 0;
	margin-top: 0;
}
.wpsdeals_page_wps-deals-settings .wps-deals-content{
	min-height:575px;
}
.wps-deals-settings-sep-first{
	font-weight:bold;
	font-size:14px;
	float:left;
}
.wps-deals-tab-content .mceLayout .mceIframeContainer{
	background-color:#FFFFFF !important;
}
.wps-deals-tab-content .mceLayout .mceIframeContainer iframe{
	min-height:350px;
}
/** WPSocial Settings Page CSS End **/

/** WPSocial Settings Page Tabs Start **/
.wps-deals-selected-tab { 
	display: block !important;
}
.wps-deals-content{
	padding: 11px; 
}
.wps-deals-tab-content,
.wps-deals-social-none
{
	display:none;
}

.wps-deals-content-section .nav-tab-wrapper a
{
	outline: 0 !important;
}
.wps-deals-h2
{
	width: 98%;
}
.wpsdeals_page_wps-deals-settings .content {
	float: left;
	width: 75%;
	margin-right: 10px;
	min-height: 600px !important;
}
/** WPSocial Settings Page Tabs End **/

/** About Box Start**/
.wpsdeals_page_wps-deals-settings .about {
	float: left;
	width: 20%;
}
.wpsdeals_page_wps-deals-settings .icon-option {
	float: left;
	line-height: 20px;
	margin: 10px 10px 0 0;
	display: block;
	width: 100%;
}
.wpsdeals_page_wps-deals-settings .icon-option img {
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 6px;
}
.wpsdeals_page_wps-deals-settings .icon-option a {
	text-decoration: none;
}
.wpsdeals_page_wps-deals-settings .icon-option a:hover {
	text-decoration: underline;
}

/** About Box End**/

.wps-deals-meta-box-setting .form-table td,.wps-deals-discount-codes td{
	vertical-align:top;
}
.deals-required{
	font-size:15px;
}
.wps-deals-error{
	padding: 5px !important;
}
.deals-required, .wps-deals-required-error,.wps-deals-require{
	color:red;
}
/** CSS for Deal Sales page Start**/
table.dealsales .column-cb{ width:3%; }
table.dealsales .column-ID{ width:7%; }
table.dealsales .column-user_details{ width:25%; }
table.dealsales .column-amount{ width:10%; }
table.dealsales .column-details{ width:10%; }
table.dealsales .column-payment_status{ width:10%; }
table.dealsales .column-date_time{ width:15%; }
table.dealsales .column-user{ width:10%; }
.wps-deals-sales-generate-pdf-btn{ float:right; }
.wps-deals-view-bill-details table tr td{
	vertical-align:top;
}
.order-view-bill-details {
	width:48% !important;
	float: left;
}
.wps-deals-view-bill-details-wrap {
	float:left;
	width:100%;
	margin-bottom:20px;
}
/** CSS for Deal Sales page End**/

/** CSS for Deal Download Log page Start **/
table.deallogs .column-ID{ width:7%; }
table.deallogs .column-order_id{ width:7%; }
table.deallogs .column-user_id{ width:10%; }
table.deallogs .column-ipaddress{ width:10%; }
table.deallogs .column-file{ width:30%; }
table.deallogs .column-deals{ width:20%; }
table.deallogs .column-date{ width:16%; }
/** CSS for Deal Download Log page End **/

/** CSS for Sales Log page Start **/
table.dealsalelogs .column-ID{ width:7%; }
table.dealsalelogs .column-date{ width:15%; }
table.dealsalelogs .column-deals{ width:25%; }
/** CSS for Sales Log page End **/

/** CSS for Dashboard Widget Start**/
.wps-deals-dashboard-widget-wrap {
	margin-bottom:10px;
}
.wps-deals-dashboard-right{
	float:right;
	width: 50%;
}

.wps-deals-dashboard-left-first{
	float:left;
	width: 50%;
}
.wps-deals-dashboard-widget-wrap .widget-value{
	font-weight:bold;
}
.wps-deals-dashboard-full,
.wps-deals-dashboard-middle,
.wps-deals-dashboard-last,
#wps_deals_sales_dashboard_widget{
	width:100%;
} 
.wps-deals-dashboard-widget-wrap .widget-title,
.wps-deals-dashboard-widget-wrap .widget-label{
	color:#8F8F8F;
}
.wps-deals-dashboard-widget-wrap .widget-title{
	font-size: 14px;
}
.wps-deals-dashboard-middle,
{
	float:left;
}
.dashboard-last,.wps-deals-dashboard-middle{
	 margin-bottom: 15px;
}
/** CSS for Dashboard Widget End**/

/** CSS for Reports Page Start**/
.wps-deals-reports-h2{
	width:97.8%;
}
/** CSS for Page Loading Tabs Start**/
h2.wps-deals-nav-tab-wrapper, h3.wps-deals-nav-tab-wrapper {
    border-bottom-color: #CCCCCC;
}
h2.wps-deals-nav-tab-wrapper, h3.wps-deals-nav-tab-wrapper {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0;
}
h2 .wps-deals-nav-tab {
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    padding: 4px 10px 6px;
}
.wps-deals-nav-tab {
    border-color: #DFDFDF #DFDFDF #FFFFFF;
}
.wps-deals-nav-tab {
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px 1px 0;
    color: #AAAAAA;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: 0 6px -1px 0;
    padding: 4px 14px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.wps-deals-nav-tab:hover, .wps-deals-nav-tab-active {
    border-color: #CCCCCC #CCCCCC #FFFFFF !important;
}
.wps-deals-nav-tab-active {
    border-width: 1px !important;
    color: #464646 !important;
}
.wps-deals-metabox-holder {
	padding-top: 0;
}
#wps_deals_monthly_stats {
	width:1000px !important;
	height: 300px !important;
}
#wps-deals-date-range-options span {
	padding-top:5px;
}
#wps-deals-date-range-options span,
#wps-deals-date-range-options {
	float: left;
}
/** CSS for Reports Page End**/

/** CSS for Edit Sale Page Start **/
table.wps-deals-edit-sale .order-edit-check{
	margin-right:3px;
}
table.wps-deals-edit-sale {
	width:50%;
}
table.wps-deals-edit-sale tr th {
	font-weight:bold;
}
.sales-edit-button{
	vertical-align: text-top;
	margin-left:10px !important;
}
table.wps-deals-edit-sale table.status-table tr th,
table.wps-deals-edit-sale table.status-table tr td{
	text-align:center;
	padding:5px !important;
}
table.wps-deals-edit-sale table.status-table th.date{ width:31%; }
table.wps-deals-edit-sale table.status-table th.customer-notify{ width:21%; }
table.wps-deals-edit-sale table.status-table th.status{ width:18%; }
table.wps-deals-edit-sale table.status-table th.comments{ width:30%; } 

.updated.fade.refund-success { margin:10px  !important;}
.updated.fade.refund-success p { clear:both; }
/** CSS for Edit Sale Page End **/

/********** CSS for Shortcode Popup Starts ***********/
.wps-deals-popup-content {
    margin: 0 auto 10px;
    min-height: 450px;
    display: none;
	position: absolute;
	border: 1px solid #555555;
	top: 60px;
	text-align: left;
	left: 17%;
	width: 800px;
	padding: 20px 35px;
	background: none repeat scroll 0 0 #FFFFFF;
	z-index:102;
	overflow: auto;
	font: 12px "Lucida Grande",Verdana,Arial,sans-serif;
	box-shadow: 0 4px 30px #000000;
	color: #000000;	
}
.wps-deals-popup-content .description {
	margin-left: 0px !important
}
.wps-deals-popup-overlay {
	display: none;
	background-color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.wps-deals-header-title {
    float: left;
    padding: 6px 10px 0;
}
.wps-deals-popup-close {
 	float: right;
    padding: 6px 10px 0;
    text-align: right;
}
.wps-deals-header {
    background-color: #222222;
    color: #CFCFCF;
    height: 27px;
    left: -37px;
    position: relative;
    top: -20px;
    width: 109%;
}
.wps-deals-popup table.form-table {
	margin : 15px !important;
	width: 80% !important;	
}
#wps_deals_shortcode_error {
	color: red;
}
#wps_deals_insert_container {
	margin: 15px;
	
}
#wps_deals_shortcode_error, 
#wps_deals_insert_container,
.wps-deals-shortcodes-options {
 	display: none;
}
/***************** CSS for Shortcode Popup Ends******************/

/***************** CSS for Social Login Page Starts ******************/
.wps-deals-social-submit {
	margin:15px 0 0 0 !important;
}
.wps-deals-sortable tbody td{
	cursor:move !important;
}
.wps-deals-social-chart-container{
	text-align: center; 
	margin: 30px 0 0; 
	width:650px; 
	margin:auto;
}
/***************** CSS for Social Login Page Ends******************/
/***************** CSS for Quick Edit of Deals Start******************/
.inline-edit-wpsdeals ul.wpsdealcategories-checklist {
	min-height:160px;
}
/***************** CSS for Quick Edit of Deals Ends******************/
/* Common Error Class For Backend */
.wps-deals-errors {
	background-color: #FFEBE8;
    border: 1px solid #CC0000;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    padding: 5px 0px 5px 10px!important;
}
.wps_deal_preview_purchase_receipt {
	display: none;
}
.wps-deals-preview-purchase-receipt, .wps-deals-send-test-email {
	outline: 0 !important;
}
.wps-deals-loader {
	display: none;
	margin-left: 5px;
}
.wps-deals-preview-popup {
	display: none;
}
.wps-deals-send-email-msg {
	display: none;
	margin-left: 5px;
}
.wps-deals-email-success {
	color: #00A200;
}
.wps-deals-email-error {
	color: #CC0000;
}
select.chzn-select {
	width: 250px;
}